<%= form_for(campaign_tab) do |f| %>
  <% if campaign_tab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign_tab.errors.count, "error") %> prohibited this campaign_tab from being saved:</h2>

      <ul>
      <% campaign_tab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :purpose %>
    <%= f.text_field :purpose %>
  </div>

  <div class="field">
    <%= f.label :estimated_duration %>
    <%= f.number_field :estimated_duration %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
