<p id="notice"><%= notice %></p>
<div class="card text-center">
  <div class="card-header">
    Campaign
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= @campaign_tab.title %></h5>
    <p class="card-text"> <%= @campaign_tab.purpose %></p>
    <strong>Topics</strong><br>
    <% all_topics = find_topics(@campaign_tab)%>
    <% all_topics.each do |t|%>
    <%= link_to t.title, topic_path(id: t) , class:"link-success" %>
    <%end%>
    <br>
    <br>
    <% if current_user.user_type == "novice" && current_user.status == "qualified" %>
    <%= link_to "Create Topic on this campaign", new_topic_path(id:@campaign_tab.id) ,class:"btn btn-warning btn-sm" %>
    <%end%>
    <br>
    <br>
    <%= link_to 'Comment', new_comment_path(item:@campaign_tab,from_model: "campaign"),class:"btn btn-warning btn-sm" %>
  </div>
  <div class="card-footer text-muted">
    <strong>Estimated duration:</strong>
  <%= @campaign_tab.estimated_duration %> Days
  </div>
</div>
<br>
<% arr = get_comments(@campaign_tab)%>
<% arr.each do |c|%>
<%=link_to  c.title, comment_path(c)%>
<br>
<%end%>
<div class="buttons">
<%= link_to 'Back', root_path, class:"btn btn-outline-secondary btn-sm " %>
</div>